@import "tailwindcss";

@theme {
  --color-primary: #cf1791;
  --color-background-light: #f8f6f7;
  --color-background-dark: #21111c;

  --font-display: "Inter", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer base {
  body {
    @apply bg-white text-slate-900 font-display;
  }
}